.navHeader {
    position: fixed;
    background: rgba(3,0,20,.08);
    padding: 0 20px;
    left: 0;
    top: 0;
    width: 100vw;
    backdrop-filter: blur(16px);
    z-index: 10;
}

.navWrapper {
    max-width: 1296px;
    padding: 22px 0;
    margin: 0 auto;
}

.navWrapper::before {
    background: radial-gradient(62.87% 100% at 50% 100%,rgba(255,255,255,.12) 0%,rgba(255,255,255,0) 100%);
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
}

.logoWrapper {

}

.logo {
    fill: white;
    width: 42px;
    height: 42px;
    margin-right: 14px;
}

.title {
    font-size: 16px;
    font-weight: 500;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    color: white;
    margin-left: 14px;
}

.navCenter {
    background: rgba(255,255,255,.02);
    border: 1px solid rgba(255,255,255,.08);
    border-radius: 999px;
    display: flex;
    left: 50%;
    margin: 0 auto;
    padding: 10px 12px;
    position: absolute;
    transform: translate(-50%);
    list-style: none;
}

.navCenter > li {
    margin: 0 12px;
}

.navCenterControl {
    display: block;
    color: #fff;
    transition: .3s all cubic-bezier(.6,.6,0,1);
    font-size: 14px;
    font-weight: 300;
}

.navCenterControl:hover {
    opacity: 0.75;
}

.navControls {
    z-index: 2;
}

.navBtn {
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    transition: .25s all cubic-bezier(.6,.6,0,1);
}

.navBtn::after {
    border-radius: inherit;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.navModule {
    backdrop-filter: blur(8px);
    border-radius: 8px;
    color: #f4f0ff;
    display: block;
    padding: 8px 16px;
    position: relative;
    width: -moz-max-content;
    width: max-content;
}

.navModule:hover {
    background: linear-gradient(180deg,rgba(60,8,126,0) 0%,rgba(60,8,126,.42) 100%),rgba(113,47,255,.24);
}

.navBtn:active {
    opacity: 0.75;
}

.navModule::before, .navModule::after {
    content: "";
    display: block;
    transition: .2s opacity cubic-bezier(.6,.6,0,1);
    border-radius: inherit;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
    position: absolute;
}

.navModule::after {
    background: linear-gradient(180deg,rgba(60,8,126,0) 0%,rgba(60,8,126,.42) 100%),rgba(113,47,255,.24);
    box-shadow: inset 0 0 12px #bf97ff70;
    opacity: 0;
}
.navModule::before {
    background: linear-gradient(180deg,rgba(60,8,126,0) 0%,rgba(60,8,126,.32) 100%),rgba(113,47,255,.12);
    box-shadow: inset 0 0 12px #bf97ff3d;
}

.navModuleBorder {
    border-radius: inherit;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.navModuleBorder::before {
    background: linear-gradient(180deg,rgba(207,184,255,.24) 0%,rgba(207,184,255,0) 100%),linear-gradient(0deg,rgba(207,184,255,.32),rgba(207,184,255,.32));
    border-radius: inherit;
    content: "";
    inset: 0;
    -webkit-mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
    mask-composite: xor;
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    padding: 1px;
    pointer-events: none;
    position: absolute;
}