@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.edashContainer {
    background-color: rgb(8 6 36/1);
}


.edashWrapper {
    animation: fadeIn 0.5s ease-in-out forwards;
}